nav {
    background: #2065a5;
    color: white;
}

.logo {
    position: absolute;
    right: 3vh !important;
}

.menuToggle {
    background: black;
    cursor: pointer;
    padding: 1em;
    display: block;
    text-align: right;
}

#menuToggle {
    display: none;
}

#menuToggle:checked ~ ul a {
    font-size: 1em;
    height: 1em;
    line-height: 1em;
    transform: scaleY(1);
    border-bottom: 1px solid white;
}

#menuToggle:checked ~ .menuToggle .fa-times-circle {
    display: block;
}

#menuToggle:checked ~ .menuToggle .fa-bars {
    display: none;
}

.fa-times-circle {
    display: none;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 1em;
    border-bottom: 0 solid white;
    font-size: 0;
    height: 0;
    line-height: 0;
    transform: scaleY(0);
    transition: all 0.7s ease-out;
}

nav a:hover {
    background: black;
}

.heeft-submenu ul {
    padding-left: .5em;
    border-left: 5px double white;
}

#nav .heeft-submenu li a {
    font-size: 0;
    height: 0;
    line-height: 0;
    transform: scaleY(0);
    border-bottom-width: 0;
    transition: all .5s ease-out;
}

#nav .heeft-submenu:hover li a {
    font-size: 1em;
    height: 1em;
    line-height: 1em;
    transform: scaleY(1);
    border-bottom-width: 1px;
}

.heeft-submenu > a {
    display: grid;
    grid-template-columns: 1fr auto;
}

.heeft-submenu > a::after {
    font-family: "Font Awesome\ 5 Free";
    font-weight: 900;
    content: "\f0d7";
}

.heeft-submenu:hover > a::after {
    content: "\f150";
}

main {
    padding: 1em;
}

main img {
    max-width: 100%;
}

footer {
    padding: 1em;
    background: lightgrey;
    color: darkgray;
    display: grid;
    grid-auto-columns: 1fr auto;
}

.line-up {
    display: grid;
    grid-template-columns: 1fr;
}

@media screen and (min-width: 40em){
    nav > ul {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(10em, 1fr));
    }
    .menuToggle {
        display: none;
    }

    nav a {
        font-size: 1em;
        height: 1em;
        line-height: 1em;
        transform: scaleY(1);
    }

    .heeft-submenu {
        position: relative;
    }

    .heeft-submenu ul {
        position: absolute;
        border-left: 0;
        padding: 0;
        width: 100%;
    }

    .heeft-submenu a {
        background: lightgrey;
    }

    nav > ul > li:not(:first-child) a {
        border-left: 10px solid white;
    }

    .line-up {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}